ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  font-family: Arial, sans-serif;
}

.username {
  font-weight: bold;
  color: red;
}

.formalName {
  font-style: italic;
}

.date {
  color: gray;
}

.message {
  color: green;
}
